.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-text {
    align-items: center;
    text-align: center;
    max-width: 65rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.separator {
    width: 70%;
    height: 1px;
    background-color: rgb(61, 61, 61);
    margin-bottom: 3rem;

  }


.about-stack {
    text-align: center;

    h2 {
        margin-bottom: 0.2rem;
    }
}

.about-stack-icons {
    max-width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-stack-icons img {
    width: 6rem;
    height: 6rem;
    margin: 2rem;
}

@media (max-width: 1200px) {
    .about-stack-icons img {
        width: 5rem;
        height: 5rem;
        margin: 1.8rem;
    }
}

@media (max-width: 992px) {
    .about-stack-icons {
        max-width: 50rem;
    }

    .about-stack-icons img {
        width: 4rem;
        height: 4rem;
        margin: 1.6rem;
    }
}

@media (max-width: 768px) {
    .about-stack-icons img {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1.6rem;
    }
}

@media (max-width: 480px) {
    .about-stack-icons img {
        width: 3rem;
        height: 3rem;
        margin: 1.4rem;
    }
}